.position-sticky
{
  position:sticky;
  top: 0px;
}
.bg-theme-color
{
  background-color: rgb(216, 216, 216);
}
.rounded-corners
{
  border-radius: 2%;
}
.rounded-corners-2
{
  border-radius: 50px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.errorMsgWrapper
{
  color:rgb(214, 61, 61)
}
.fullHeight
{
  height: 93vh;
}
.authFormDiv
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-color-nb
{
  background-color:#0d6efd !important;
}
.navbar-brand-heading
{
  font-size: 24px;
}
.no-bullets
{
  list-style-type: none;
}
.no-data-img
{
  max-width: 50%;
}
.bg-white-custom
{
  background-color: rgb(255, 255, 255) !important;
}
.card-image
{
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.bg-light-grey
{
  background-color: rgb(251, 248, 248) !important;
}
.min-height
{
  min-height: 100vh;
}
.overflow-modified
{
  height:500px;
  overflow-y: auto;
}


.deleteIcon
{
  cursor: pointer;
}
.adminIcon
{
  font-size: 28px;
}
.min-height-nb
{
  max-height: 60px;
}
.modified-box-shadow
{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

